:root {
  --c-brand: #33a6ee !important;
  --c-bg-light:#f4faff !important;
  --code-ln-wrapper-width:1.5rem  !important;
  --content-width:900px !important;
}
.token.comment {
  color:#33a6ee !important;
}
pre {
  font-size:1.02rem !important;
}